<nav>
    <ul>
        <li><a href="/createEntry">Créer Entrée</a></li>
        <li><a href="/createDepartment">Créer Département</a></li>
        <li><a href="/listEntries">Liste des Entrées</a></li>
        <li><a href="/auth">Connexion</a></li>
    </ul>
</nav>
